<footer class="py bg-dark " style="height: 25px;">
    <div class="container">
        <p class="m-0 text-center text-white">
            <marquee direction="left">
                <span><i class="fa fa-user"></i></span> Developed by Amit Dhoju
            </marquee>
        </p>
        <p class="m-0 text-center text-white">
            CopyRight &COPY; &reg; Shopping System 2019 </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.js"></script>