<footer class="py-2 bg-dark ">
    <div class="container">
        <marquee style="color:white">
            <i class="fa fa-user"></i> Amit Dhoju <i class="fa fa-user"></i>
        </marquee>
        <p class="m-0 text-center text-white">
            Copyright &copy; Shopping App 2019
        </p>
    </div>
</footer>
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.js"></script>