<link href="/vendor/clock/clock.css " rel="stylesheet " type="text/css ">
<script src="/vendor/clock/clock.js "></script>

<style>
    .categorylist {
        cursor: pointer;
    }
</style>
<!-- Search Widget -->
<div style="display: block">
    <h1 class="page-header card-text mb-0" style="color: white">Widget</h5>
    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-6 ">
                    <ul class="list-unstyled mb-0 text-center categorylist">
                        <%if(gcate == null) {%>
                        <li class="list-group"> No Category <br>
                            <a href="/category/add">
                                Add Category
                            </a>
                        </li>
                        <%} else{%>
                        <%gcate.forEach(cate => {%>
                        <li class="list-group">
                            <a class="categorylist-item" onclick="test(<%=cate.id%>,'<%=cate.name%>')">
                                <%=cate.name%>
                            </a>
                        </li>
                        <%});}%>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar Widget -->
    <div class="card my-auto">
        <h5 class="card-header">Calendar</h5>
        <div id="clockdate" class="card-body">
            <div class="clockdate-wrapper">
                <div id="clock"></div>
                <div id="clocksec"></div>
                <div id="date"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function test(data, name) {
        console.log(window.location.pathname);
        if (window.location.pathname != '/') {
            window.location.pathname = '/';
            categoryAjax(data, name);
        }
        if (window.location.pathname == '/') {
            categoryAjax(data, name);
        }
    }

    function categoryAjax(data, name) {
        console.log((data));
        console.log('it get click');
        $.ajax({
            type: `GET`,
            url: `/product/Category/${data}?name=${name}&sortby=none`,
            success: result => {
                if (result.error) {
                    $('#productPart').html(result.htmlData);
                } else {
                    $(`#productPart`).html(result.htmlData);
                }
            }
        });
    }
</script>