<link href="/vendor/clock/clock.css " rel="stylesheet " type="text/css ">
<script src="/vendor/clock/clock.js "></script>

<style>
    .categorylist {
        cursor: pointer;
    }
</style>
<!-- Search Widget -->
<div style="display: block">
    <h1 class="page-header" style="color: white">Widget</h1>
    <!-- <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
            </span>
            </div>
        </div>
    </div> -->

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled mb-0 text-center categorylist">
                        <%if(gcate == null) {%>
                            <li> No Category <br>
                                <a href="/product/add">
                                Add Product
                            </a>
                            </li>
                            <%} else{%>
                                <%gcate.forEach(cate => {%>
                                    <li class="list-group">
                                        <a class="categorylist-item" onclick="test(<%=cate.id%>,'<%=cate.name%>')">
                                            <%=cate.name%>
                                        </a>


                                    </li>
                                    <%});}%>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar Widget -->
    <div class="card my-auto">
        <h5 class="card-header">Calendar Widget</h5>
        <div id="clockdate" class="card-body">
            <div class="clockdate-wrapper">
                <div id="clock"></div>
                <div id="clocksec"></div>
                <div id="date"></div>
            </div>
        </div>
    </div>

</div>

<script>
    function test(data, name) {
        console.log((data));
        console.log('it get click');
        $.ajax({
            type: `GET`,
            url: `/product/Category/${data}?name=${name}&sortby=none`,
            success: result => {
                if (result.error) {
                    console.log('no success');
                    $('#productPart').html(result.htmlData);
                    console.log('error');
                    console.log(result);

                } else {
                    console.log('success');
                    console.log(result);
                    $(`#productPart`).html(result.htmlData);
                }
            }
        })

    }
</script>