img.pimage {
    width: 150px;
    border-radius: 25px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products.p {
    margin-top: 20px;
}

img.igallery {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    display: inline-block;
    border-radius: 25px;
}

img.igallery :hover {
    height: 150px;
    width: 150px;
}

img.api {
    width: 200px;
    height: 200px;
    align-content: center;    padding-left:10px;
    padding-right:10px;
}


/* for image facncy box preview  */

ul.gallery li {
    display: inline-block;
    margin: 10px;
    list-style: none;
    border-radius: 25px;
    border: 1px ridge black;
    width: 100px;
}

ul.gallery {
    padding: 0;
}

ul.gallery li:first-child {
    margin-left: 100;
}

img.cpi {
    width: 100%;
}

.imgview {
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

table.alignmiddle td {
    vertical-align: middle !important
}


/* .pp {
  position: absolute;
  left: -3000px;
} */

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}