<div class="row mt-5">
    <div class="col-md-8 m-auto">
        <% include ./../partials/messages %>
            <div class="card card-body">
                <h2 class="page-title">
                    Add Category</h2>
                <div class="form">
                    <form action="/category/add" method="post">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="<%= typeof name!='undefined' ? name :''%>" required>
                        </div>

                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea name="description" id="description" class="form-control" rows="10" cols="80" placeholder="Description" required><%= typeof description!='undefined' ? description :''%></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <br>
            </div>
    </div>
</div>
<script src="/vendor/ckeditor/ckeditor.js"></script>
<script>
    // CKEDITOR.replace('description');
</script>