<% include ./../layout\admin\adminlayoutheader%>
    <div class="row mt-5">
        <div class="col-md-8 m-auto">
                <div class="card card-body">
                    <h2 class="page-title text-center">
                        Add Category</h2>
                    <div class="form">
                        <form action="/category/add" method="post">
                            <div class="form-group">
                                <label for="">Name*</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="<%= typeof category!='undefined' ? category.name :''%>" required maxlength="100" >
                            </div>

                            <div class="form-group">
                                <label for="">Description *</label>
                                <textarea name="description" id="description" class="form-control" rows="5" cols="40" placeholder="Description" required><%= typeof category!='undefined' ? category.description :''%></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group m-auto " style="margin: auto;">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button id="btnReset" class=" btn btn-danger" onclick="window.location='/category';return false;">Cancel</button>
                                    <button type="reset" class="btn btn-success">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
        </div>
    </div>
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script>
        // CKEDITOR.replace('description');


        function postItem() {
            url = '/category/'
            window.location.href = url;
        } //postItem()
    </script>
    <% include ./../layout\admin\adminlayoutfooter%>