<div class="row mt-5">
    <div class="col-md-8 m-auto">
        <div class="card card-body">
            <table class="table table-striped">
                <thead>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>