<% include ./../partials/home/layoutheader%>

    <%include  ./../partials/messages %>
        <p class="lead mb-3 "> <i class="fa fa-user-astronaut"></i>Welcome
            <!-- <%= user.name %> -->
        </p>
        <a href="/profile" class="btn btn-primary">Profile</a>
        <a href="/" class="btn btn-primary">Purchase Item</a>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        <% include ./../partials/home/layoutfooter%>