<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/admin">Dashboard</a>
    </li>
    <li class="breadcrumb-item ">
        <U><a href="/product/ "> Product</a></U>
    </li>
    <li class="breadcrumb-item disabled ">
        Add New Product
    </li>
</ol>

<div class="row mt-auto" style="padding-bottom: 5px">
    <div class="col-md-12 m-auto">
        <div class="card card-body">
            <h2 class="page-title text-center">
                Add Product</h2>
            <a href="/product/" class="btn btn-primary m-auto">Back to all Products</a>
            <br>
            <form action="/product/add" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Product Name">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <select class="form-control" id="category" name="category">
                        <option value="" >Category</option>
                        <%gcate.forEach(cate => {%>
                         <option value="<%=cate.id%>" data-id="" data-name=""><%= cate.name%></option>  
                        <%});%>   </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="number" name="price" id="price" class="form-control" placeholder="Price">
                                <label for="price">Price</label>
                            </div>
                        </div>
                        <div class="form-group"> <textarea name="description" id="desc" cols="20" rows="5" class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-7 col-md-7">
                        <div class="form-group">
                            <div class="form-control-file custom-file">
                                <label for="img" class="
                                custom-file-label">Choose Image </label>

                                <input type="file" name="img" id="img" multiple="multiple" class="form-control-file custom-file-input" placeholder="Image" value="" accept=".bmp,.jpg,.jpeg,.png" />
                                <div id="dvPreview">
                                    <img src="/image/noimage.png" width="100" height="100" />
                                    <img src="/image/noimage.png" width="100" height="100" />
                                    <img src="/image/noimage.png" width="100" height="100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <button type="submit " class="btn btn-primary" style="align-items: center">Submit</button>
                    </div>
            </form>
            </div>
        </div>
    </div>

    <script src="/js/addProduct.js"></script>