<div class="row">
    <div class="row">

        <div class="col-xs-12 col-sm-5 col-md-5">
            <br> <br>
            <a href="">
                <img class="api" src="http://merocart.herokuapp.com/product_images/5ca1ec8390aed80c589c9458/grapes1.jpg" width="100%" alt="">

            </a>
            <br>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-7" style="float: right">
            <h1 class="page-header">
                header
            </h1>

            <table class="table table-light">
                <thead>
                    <tr aria-colspan="2">Product Detail:</tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            name
                        </td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            cat
                        </td>
                    </tr>
                    <tr>
                        <td>Price(.)</td>
                        <td>
                            price
                        </td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            desc
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td>

                    </td>
                </tfoot>
            </table>
        </div>
    </div>

</div>