<div class="row">
    <div class="col-md-6">
        <div class="div">
            <div class="card">
                <div class="card-header">AJAX CALL</div>
                <div class="card-body" id="cbody" style="overflow: auto;height: 200;">

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" id="loadAjax">
            loadAjax
          </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#loadAjax').on('click', (event) => {
        ajaxAction(event);
    })

    function ajaxAction(params) {
        console.log(params);
        $.ajax({
            url: "product/ajax/getall",
            type: "GET",
            contentType: "application/json",
            dataType: 'text'
        }).done((result) => {
            console.log(result);
            $('#cbody').html(result);
        })

    }
</script>