<% include ./../layout/home/layoutheader%>
    <div class="card  mt-5">
        <div class="card-header">
            <h4 class="card-title text-center">Header</h4>
        </div>
        <div class="card-deck ">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class=" m-auto">
                        <h5 class="catd-title text-center">User - Detail</h5>
                        <div class="card-body">

                            <table class="table table-borderless">
                                <tr>
                                    <td>Amit Dhoju</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                </tr>
                                <tr>
                                    <td>Email</td>

                                </tr>
                                <tr>
                                    <td>Contact</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle text-center">Cart Detail</h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <% include ./../layout/home/layoutfooter%>