<!-- Sticky Footer -->
<footer class="py-0 sticky-footer bg-dark">
    <div class="container my-auto">
        <p class="m-0 text-center text-white">
            Copyright &copy; Shopping App 2019
        </p>
    </div>
</footer>