<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="DashBoard for Admin">
<meta name="author" content="Amit Dhoju">
<link rel="icon" type="image/x-icon" href="/image/favicon.ico">

<title>Admin - Dashboard</title>


<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome/css/all.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="/css/sb-admin.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">